@import "../../scss/variables";

%ControlBtn {
  border-radius: 5px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  background-color: $background-color-base;

  &__shadow {
    filter: $shadow-2;
  }
}


.article {
  &__info {
    width: 75%;
  }

  &__snippet{
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    overflow-wrap: break-word;
    color: $text-color;
  }

  &__delete {
    padding: 6px 17px;
    margin-right: 12px;
    border: 1px solid $error-color;
    color: $error-color;
    @extend %ControlBtn;

    &:active {
      background-color: $error-color;
      color: $background-color-base;
    }
  }

  &__edit {
    padding: 6px 19px;
    border: 1px solid $success-color;
    color: $success-color;
    @extend %ControlBtn;

    &:active {
      background-color: $success-color;
      color: $background-color-base;
    }
  }

  &__btn__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.title {
  display: inline-block;
  margin-right: 13px;
  @extend %H5;
  color: $info-color;
}

.tag {
  margin-right: 8px;
  padding: 2px 6px;
  border: 1px solid $text-color-secondary;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  color: $text-color-secondary;

  &__wrapper {
    margin-bottom: 4px;
  }
}

.popover {
  &__btn_wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__title {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-family: $Roboto-font-family, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #595959;
  }

  &__svg {
    width: 25px;
    height: 25px;
  }

  &__btn {
    padding: 1px 8px;
    border-radius: 4px;
    font-family: $Roboto-font-family, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;

    &_yes {
      background-color: $processing-color;
      color: $background-color-base;
    }

    &_no {
      margin-right: 8px;
      border: 1px solid $normal-color;
    }
  }
}

