@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap');
@import "scss/variables";
@import "antd/dist/antd.css";
@import "scss/ant.scss";


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid $primary-color;
}

body {
  position: relative;
  overflow-anchor: none;
  margin: 0;
  font-family: $Inter-font-family, sans-serif;
  color: #4A4A4A;
  background-color: $background;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

/*Меняем цвет плейсхолдера в инпуте Сафари и Хром*/
/*Меняем цвет плейсхолдера в инпуте для Мозилы */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #BFBFBF;
}

input:focus,
textarea:focus {
  outline: none;
}

.is--hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.btn--reset {
  padding: 0;
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
