@import "../../../scss/variables";

.like {
  margin-right: 5px;
  cursor: pointer;

  &__wrapper {
    display: inline-flex;
    align-items: center;
  }

  &__count {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: $text-color;
  }

  path:last-child {
    visibility: hidden;
  }

  &:hover {
    path:first-child {
      fill: #FF0707;
    }

    path:last-child {
      visibility: visible;
    }
  }

  &_active {
    cursor: pointer;
    path:first-child {
      fill: #FF0707;
    }
    path:last-child {
      visibility: visible;
    }
  }

  &_disabled {
    margin-right: 5px;
  }
}

